In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("ml-25m/movies.csv")
display(movies)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [3]:
movies["title"] = movies["title"].str.strip()
movies["genres"] = movies["genres"].str.strip()
display(movies)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
# extract movie year from title as new column
movies["year"] = movies["title"].str.extract("(\(\d{4}\))$")
# movies["year"] = movies["title"].str[-6:]
movies["year"] = movies["year"].str[1:5]
display(movies)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
62418,209157,We (2018),Drama,2018
62419,209159,Window of the Soul (2001),Documentary,2001
62420,209163,Bad Poems (2018),Comedy|Drama,2018
62421,209169,A Girl Thing (2001),(no genres listed),2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,1962

In [5]:
movies["genres"] = movies["genres"].apply(lambda x: x.split("|"))
movies_processed = movies[['movieId', 'title', 'year']].join(pd.crosstab((s:=movies['genres'].explode()).index, s))
display(movies_processed)

,movieId,title,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),1995,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62418,209157,We (2018),2018,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62419,209159,Window of the Soul (2001),2001,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62420,209163,Bad Poems (2018),2018,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
62421,209169,A Girl Thing (2001),2001,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62422,209171,Women of Devil's Island (1962),1962,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
ratings = pd.read_csv("ml-25m/ratings.csv")
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [11]:
user_data=[]
item_data=[]
ratings_data=[]
for i in range(ratings.shape[0]):
    user=(ratings['userId'].iloc[i])                
    item=(ratings['movieId'].iloc[i])               
    rat=(ratings['rating'].iloc[i])                  
    user_data.append(user)
    item_data.append(item)
    ratings_data.append(rat)

In [13]:
from scipy.sparse import csr_matrix
adj_matrix = csr_matrix((ratings_data, (user_data, item_data)))
adj_matrix.shape

(162542, 209172)

In [16]:
from sklearn.utils.extmath import randomized_svd
import numpy as np 

U, S, VT = randomized_svd(adj_matrix, n_components=5,n_iter=5, random_state=None)
print(U.shape)
print(S.shape)
print(VT.T.shape)

(162542, 5)
(5,)
(209172, 5)